@charset "UTF-8";
/* FONTS */
@import './../fonts/FuturaPT/stylesheet.css';
/* FONTS */
/* BASE */
@-webkit-keyframes navMobile {
  from {
    right: -320px;
  }
  to {
    right: 0;
  }
}
@keyframes navMobile {
  from {
    right: -320px;
  }
  to {
    right: 0;
  }
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*FONTS*/
/*FONTS*/
/*COLORS*/
/*COLORS*/
/*MEDIA*/
.html {
  overflow-x: hidden;
}

body {
  font-family: "Futura PT";
  font-size: 16px;
  background: radial-gradient(114.37% 114.53% at 20.49% 12.79%, #fff 0%, rgba(228, 231, 233, 0.5) 100%);
}

a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.hideScrollY {
  overflow-y: hidden;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}
.container_section {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container_process {
  z-index: 0;
}

.none {
  display: none !important;
}

section {
  margin-top: clamp(4.375rem, 2.946rem + 7.14vw, 9.375rem) !important;
}

.title2 {
  color: #333;
  font-size: clamp(1.875rem, 1.125rem + 3.75vw, 4.5rem);
  font-weight: 500;
  line-height: clamp(2.188rem, 1.42rem + 3.84vw, 4.875rem);
  letter-spacing: -0.5px;
  margin-bottom: clamp(0.688rem, 0.027rem + 3.3vw, 3rem) !important;
}
.title2_idea {
  max-width: 467px;
}
.title2_capabilities {
  margin-bottom: 34px;
}
.title2_process {
  color: #fff;
}

.title3 {
  color: #333;
  font-size: clamp(1.5rem, 1.286rem + 1.07vw, 2.25rem);
  font-weight: 500;
  line-height: clamp(1.563rem, 1.152rem + 2.05vw, 3rem);
  letter-spacing: -0.15px;
}

.title4 {
  color: #fff;
  font-size: 26px;
  font-weight: 450;
  line-height: 140%;
  letter-spacing: -1.17px;
}

.title5 {
  color: #292930;
  font-size: clamp(1.875rem, 1.125rem + 3.75vw, 4.5rem) !important;
  font-weight: 450;
  line-height: clamp(1.875rem, 1.018rem + 4.29vw, 4.875rem);
  letter-spacing: -0.5px;
}
.title5_capabilities {
  margin-bottom: clamp(0.625rem, -0.036rem + 3.3vw, 2.938rem);
}

.subtitleP {
  color: #4f4f4f;
  font-size: clamp(0.875rem, 0.696rem + 0.89vw, 1.5rem);
  font-weight: 400;
  line-height: 140.7%;
}
.subtitleP_process {
  color: #fff;
  opacity: 0.5;
  font-size: 18px;
  line-height: normal;
}
.subtitleP__slider_process {
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 24px;
  color: #939396;
  max-width: 325px;
}
.subtitleP_advance {
  color: #333;
  text-align: center;
  font-size: clamp(0.938rem, 0.777rem + 0.8vw, 1.5rem);
  font-weight: 400;
  line-height: 140.7%;
}
.subtitleP_footer {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  /* p1 */
  font-family: "Futura PT";
  font-size: clamp(0.625rem, 0.375rem + 1.25vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: 140.7%; /* 33.768px */
}

.subtitle_accent {
  color: #4C40F7;
  font-size: clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);
  font-weight: 500;
  line-height: 28px;
  margin-bottom: clamp(0.625rem, 0.304rem + 1.61vw, 1.75rem);
}
.subtitle_accent_process {
  color: #fff;
}
.subtitle_accent_advance {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .subtitleP__slider_process {
    text-wrap: balance;
    text-align: center;
  }
}
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* BASE */
/* BLOCK */
.header {
  padding: 36px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__row__nav {
  margin: 0 auto 0 73px;
}

.row__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
}

.nav__item {
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear; /* Добавляем анимацию изменения положения */
}
.nav__item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px); /* Поднимаем текст на 3px при наведении */
}

.nav__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #4f4f4f !important;
  position: relative;
}
.nav__link::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ff4000;
  position: absolute;
  left: -134px;
  bottom: -2px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.nav__link:hover::before {
  left: 0;
}

.header__row__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FF561D;
  border-radius: 20px;
  padding: 27px 38px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  -webkit-transition: background-color 0.2s linear, -webkit-transform 0.2s linear;
  transition: background-color 0.2s linear, -webkit-transform 0.2s linear;
  transition: background-color 0.2s linear, transform 0.2s linear;
  transition: background-color 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
}
.header__row__button button:hover {
  background-color: #ff4000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.info {
  position: relative;
  overflow-x: clip;
}

.info__wrapper-title h1 {
  color: #333;
  font-size: clamp(2rem, 1.143rem + 4.29vw, 5rem);
  font-weight: 500;
  line-height: 101.7%;
  max-width: 718px;
}

.info__wrapper-subtitle p {
  color: #4f4f4f;
  font-size: clamp(0.875rem, 0.696rem + 0.89vw, 1.5rem);
  font-weight: 400;
  line-height: 140.7%;
  max-width: 560px;
  margin-bottom: clamp(1.875rem, 1.375rem + 2.5vw, 3.625rem);
}

.info__wrapper-button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4C40F7;
  border-radius: 20px;
  padding: clamp(0.813rem, 0.563rem + 1.25vw, 1.688rem) 56px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  -webkit-transition: background-color 0.2s linear, -webkit-transform 0.2s linear;
  transition: background-color 0.2s linear, -webkit-transform 0.2s linear;
  transition: background-color 0.2s linear, transform 0.2s linear;
  transition: background-color 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
}
.info__wrapper-button button:hover {
  background-color: #2718ff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.info__wrapper_circle {
  position: absolute;
  right: -27.7777777778%;
  top: -35.5660377358%;
  z-index: -3;
}

.info__wrapper_laptop {
  position: absolute;
  right: -6.3888888889%;
  top: -5.0943396226%;
  z-index: -1;
}

.info__wrapper_circles {
  position: absolute;
  right: 21.4583333333%;
  top: 57.358490566%;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .info__wrapper_circles {
    display: none;
  }
}
.idea__title {
  margin-bottom: clamp(0.938rem, 0.563rem + 1.88vw, 2.25rem);
}

.idea__subtitle {
  color: #4f4f4f;
  font-size: 24px;
  font-weight: 400;
  line-height: 140.7%;
  margin-bottom: clamp(3.125rem, 2.089rem + 5.18vw, 6.75rem);
}

.idea__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 32px;
}

.row__elem:hover {
  cursor: pointer;
}

.row__elem_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 24px 24px 0 0;
  padding: clamp(2.5rem, 1.732rem + 3.84vw, 5.188rem) clamp(3.125rem, 2.821rem + 1.52vw, 4.188rem);
}
.row__elem_image_one {
  background-color: #FFF3EB;
}
.row__elem_image_two {
  background-color: #EDEDFF;
}

.row__elem_text {
  background-color: #fff;
  border-radius: 0 0 24px 24px;
  padding: clamp(1.25rem, 0.75rem + 2.5vw, 3rem) clamp(1.25rem, 0.75rem + 2.5vw, 3rem) clamp(1.875rem, 1.089rem + 3.93vw, 4.625rem);
}

.row__elem_text_title {
  margin-bottom: 8px;
}

/* HOVER EFFECTS */
.row__elem:hover .row__elem_image_one {
  -webkit-box-shadow: 0 0 5px #FF561D;
          box-shadow: 0 0 5px #FF561D;
}

.row__elem:hover .row__elem_text_one {
  -webkit-box-shadow: 0 0 5px #FF561D;
          box-shadow: 0 0 5px #FF561D;
}

.row__elem:hover .row__elem_image_two {
  -webkit-box-shadow: 0 0 5px #4C40F7;
          box-shadow: 0 0 5px #4C40F7;
}

.row__elem:hover .row__elem_text_two {
  -webkit-box-shadow: 0 0 5px #4C40F7;
          box-shadow: 0 0 5px #4C40F7;
}

@media screen and (max-width: 992px) {
  .idea__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.capabilities {
  margin-top: 245px;
}

.capabilities__subtitle_accent {
  position: relative;
  text-align: center;
}
.capabilities__subtitle_accent::before {
  content: url(./../../content/main/capabilities/elipse.png);
  position: absolute;
  left: 0;
  bottom: -239px;
  z-index: -1;
}

.capabilities__title {
  text-align: center;
}

.capabilities__subtitle {
  text-align: center;
}

.capabilities__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 40px 500px;
  grid-template-columns: repeat(2, 500px);
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: clamp(3.125rem, 2.482rem + 3.21vw, 5.375rem);
}

@media screen and (max-width: 992px) {
  .capabilities__grid {
    -ms-grid-columns: minmax(300px, 500px);
    grid-template-columns: minmax(300px, 500px);
  }
}
.capabilities__grid__card {
  background-color: #fff;
  border: 1px solid #E3E6E9;
  border-radius: 40px;
  padding: 80px 80px 70px;
}
.capabilities__grid__card:hover {
  cursor: pointer;
  background-color: #5956E9;
}
.capabilities__grid__card:hover .title5_capabilities {
  color: #fff;
}
.capabilities__grid__card:hover .subtitleP_grid_card {
  color: #fff;
}
.capabilities__grid__card:hover .grid__card_button button {
  background-color: #fff;
  color: #5956E9;
}

.grid__card_title {
  max-width: 318px;
}

.grid__card_subtitle {
  max-width: 318px;
  margin-bottom: clamp(4.375rem, 3.679rem + 3.48vw, 6.813rem);
}

.grid__card_button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.grid__card_button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5956E9;
  border-radius: 20px;
  padding: 29px 86px 27px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  -webkit-transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear, -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
}
.grid__card_button button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

@media screen and (max-width: 992px) {
  .capabilities__grid__card {
    padding: 40px 30px 20px;
  }
  .grid__card_button {
    width: 100%;
  }
  .grid__card_button button {
    width: 100%;
    padding: clamp(0.625rem, 0.286rem + 1.7vw, 1.813rem) clamp(1.875rem, 0.875rem + 5vw, 5.375rem) clamp(0.75rem, 0.482rem + 1.34vw, 1.688rem);
  }
}
.process {
  margin-top: 198px;
  padding: clamp(4.375rem, 2.946rem + 7.14vw, 9.375rem) 0 clamp(4.375rem, 2.946rem + 7.14vw, 9.375rem);
  background-color: #27272E;
}

.process__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 28px;
  -webkit-column-gap: 147px;
     -moz-column-gap: 147px;
          column-gap: 147px;
}

.wrapper_text_title {
  margin-bottom: clamp(1rem, 0.643rem + 1.79vw, 2.25rem);
}

.process__wrapper_circles {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.wrapper__circles {
  position: relative;
}

.wrapper_arrow {
  position: absolute;
  left: -13.5416666667%;
  top: 46.9811320755%;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .process__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.container_process {
  position: relative;
}

.process__swipper {
  margin-top: 140px;
  margin-right: unset;
  margin-left: 268px !important;
  max-width: 770px;
}

.swipper__wrapper_button {
  position: absolute;
  left: 1.7307692308%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.slider_image {
  margin-bottom: clamp(1.25rem, 0.964rem + 1.43vw, 2.25rem);
}

.slider_title {
  margin-bottom: clamp(1rem, 0.643rem + 1.79vw, 2.25rem);
}

.swipper__wrapper_button {
  position: relative;
}

.wrapper__ellipse {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  left: 114px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.wrapper__button_prev {
  z-index: 10;
}

.wrapper__button_next {
  z-index: 10;
}

.wrapper__button_next:hover {
  cursor: pointer;
}

.wrapper__button_next:hover ~ .wrapper__ellipse {
  left: 65px;
}

.wrapper__button_prev:hover {
  cursor: pointer;
}

.wrapper__button_prev:hover ~ .wrapper__ellipse {
  left: 8px;
}

@media screen and (max-width: 992px) {
  .process__swipper {
    margin-left: 0 !important;
    margin: 50px 0;
  }
  .swiper-slide {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}
.advance {
  padding-bottom: clamp(1.875rem, 0.268rem + 8.04vw, 7.5rem);
}

.advance__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 100px;
  margin-top: clamp(1.875rem, -0.518rem + 11.96vw, 10.25rem);
}

.advance__wrapper_elem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.wrapper_elem_text {
  -ms-grid-column-align: right;
      justify-self: right;
  max-width: 517px;
}

.elem_text_title {
  margin-bottom: 36px;
}

.elem_text_subtitle {
  margin-bottom: clamp(1.875rem, 1.321rem + 2.77vw, 3.813rem);
}
.elem_text_subtitle p {
  text-align: left;
}

.elem_text_button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5956E9;
  border-radius: 20px;
  padding: 29px 86px 27px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  -webkit-transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear, -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
}
.elem_text_button button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.wrapper__elem_photos {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrapper__elem_image {
  border-radius: 10px;
}

.wrapper__elem_subimage {
  position: absolute;
  border-radius: 14px;
  -webkit-box-shadow: -8px 8px 20px 20px rgba(28, 28, 28, 0.1);
          box-shadow: -8px 8px 20px 20px rgba(28, 28, 28, 0.1);
}

#subOne {
  right: 44%;
  bottom: -8%;
}

#subTwo {
  right: -6%;
  bottom: -9%;
}

#subThree {
  right: 97px;
  bottom: -110px;
}

@media screen and (max-width: 992px) {
  .advance__wrapper_elem {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .wrapper__elem_photos {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .wrapper_elem_text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .wrapper__elem_subimage {
    width: 130px;
  }
  #subOne {
    right: -2%;
  }
  #subTwo {
    right: 58%;
  }
  #subThree {
    right: 93px;
    top: 83%;
  }
  .elem_text_button {
    width: 100%;
  }
  .elem_text_button button {
    padding: clamp(0.625rem, 0.286rem + 1.7vw, 1.813rem) clamp(1.875rem, 0.875rem + 5vw, 5.375rem) clamp(0.75rem, 0.482rem + 1.34vw, 1.688rem);
    width: 100%;
  }
}
.capabilities__modal, .advance__modal {
  border-radius: 40px;
  border: 1px solid var(--e-3-e-6-e-9, #e3e6e9);
  background: var(--ffffff, #fff);
  max-width: 582px;
  min-width: 290px;
  padding: 70px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
}

.modal_subtitle_accent {
  color: #4f4f4f;
  font-size: 20px;
  font-weight: 450;
  line-height: 30px;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
}

.modal__wrapper {
  position: relative;
}

.modal_close {
  position: absolute;
  right: 0;
  top: 0;
}
.modal_close path {
  stroke: #ababab;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.modal_close:hover {
  cursor: pointer;
}
.modal_close:hover path {
  stroke: #4C40F7;
}

.modal_title {
  color: #292930;
  font-size: 64px;
  font-weight: 450;
  line-height: 64px;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
}

.modal_subtitle {
  color: #4f4f4f;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

/* ------------------------- */
.advance__modal {
  border-radius: 40px;
  border: 1px solid var(--e-3-e-6-e-9, #e3e6e9);
  background: var(--ffffff, #fff);
  max-width: 582px;
  padding: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem) clamp(2.5rem, 1.964rem + 2.68vw, 4.375rem) clamp(2.5rem, 1.964rem + 2.68vw, 4.375rem);
}

.advance__modal_subtitle_accent {
  color: #4C40F7;
}

.advance__modal_title {
  margin-bottom: 20px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  overflow-y: hidden;
  display: none;
}

.header__row_mobile {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row__nav_mobile {
  position: absolute;
  right: -320px;
  top: 0;
  bottom: 0;
  padding: 90px 83px 30px 30px;
  -webkit-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 20;
  background-color: #fff;
}
.row__nav_mobile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.row__nav_mobile.open {
  right: 0;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}

.overlay.open {
  display: block;
}

.header__row__button__mobile button {
  padding: 18px;
}

@media screen and (max-width: 992px) {
  .header__row {
    display: none;
  }
  .header__row_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  z-index: 21;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}

.burger::before {
  top: 0;
  -webkit-box-shadow: 0 11px 0 #000;
          box-shadow: 0 11px 0 #000;
  -webkit-transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
}

.burger::after {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s, -webkit-transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  -webkit-transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s, -webkit-transform 0.3s 0.15s;
}

.footer {
  padding: clamp(3.75rem, 2.518rem + 6.16vw, 8.063rem) 0 clamp(5rem, 3.554rem + 7.23vw, 10.063rem);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.footer__title {
  max-width: 593px;
  margin: 0 auto clamp(0.625rem, 0.161rem + 2.32vw, 2.25rem);
}

.footer__subtitle {
  margin-bottom: clamp(2.5rem, 1.196rem + 6.52vw, 7.063rem);
}

.footer__logo_row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: clamp(4.375rem, 3.304rem + 5.36vw, 8.125rem);
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4C40F7;
  border-radius: 20px;
  padding: clamp(0.813rem, 0.563rem + 1.25vw, 1.688rem) 56px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  -webkit-transition: background-color 0.2s linear, -webkit-transform 0.2s linear;
  transition: background-color 0.2s linear, -webkit-transform 0.2s linear;
  transition: background-color 0.2s linear, transform 0.2s linear;
  transition: background-color 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
}
.footer__button button:hover {
  background-color: #2718ff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* BLOCK */