.advance__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 100px;

  margin-top:clamp(1.875rem, -0.518rem + 11.96vw, 10.25rem);
}
.advance__wrapper_elem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.wrapper_elem_text {
  justify-self: right;
  max-width: 517px;
}
.elem_text_title {
  margin-bottom: 36px;
}

.elem_text_subtitle {
  margin-bottom: clamp(1.875rem, 1.321rem + 2.77vw, 3.813rem);

  p {
    text-align: left;
  }
}

.elem_text_button {
  button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $colorAccentCard;
    border-radius: 20px;
    padding: 29px 86px 27px;

    color: $colorWhite;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;

    transition: transform 0.2s linear, box-shadow 0.2s linear;
  }

  button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #000;
  }
}

.wrapper__elem_photos {
  position: relative;
  justify-self: center;
  align-self: center;
}

.wrapper__elem_image {
  border-radius: 10px;
}

.wrapper__elem_subimage {
  position: absolute;

  border-radius: 14px;
  box-shadow: -8px 8px 20px 20px rgba(28, 28, 28, 0.1);
}

#subOne {
  right: 44%;
  bottom: -8%;
}

#subTwo {
  right: -6%;
  bottom: -9%;
}

#subThree {
  right: 97px;
  bottom: -110px;
}

@include mediaMobile {
  .advance__wrapper_elem {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .wrapper__elem_photos {
    order: 1;
  }

  .wrapper_elem_text {
    order: 2;
  }

  .wrapper__elem_subimage {
    width: 130px;
  }

  #subOne {
    right: -2%;
  }

  #subTwo {
    right: 58%;
  }

  #subThree {
    right: 93px;
    top: 83%;
  }

  .elem_text_button {
    width: 100%;
    button {
      padding: clamp(0.625rem, 0.286rem + 1.7vw, 1.813rem)
        clamp(1.875rem, 0.875rem + 5vw, 5.375rem)
        clamp(0.75rem, 0.482rem + 1.34vw, 1.688rem);
        width: 100%;
    }
  }
}
