.idea {
  margin-top: 150px;
}

.idea__subtitle_accent {
  color: $colorAccentBlue;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

  margin-bottom: 28px;
}

.idea__title {
  margin-bottom: 36px;
}

.idea__subtitle {
  color: $colorSubtitle;
  font-size: 24px;
  font-weight: 400;
  line-height: 140.7%;

  margin-bottom: 108px;
}
