.idea {
  margin-top: 150px;
}

.idea__title {
  margin-bottom: 36px;
}

.idea__subtitle {
  color: $colorSubtitle;
  font-size: 24px;
  font-weight: 400;
  line-height: 140.7%;

  margin-bottom: 108px;
}
