.info {
  position: relative;
  overflow-x: clip;
}

.info__wrapper-title h1 {
  color: $colorTitle;
  font-size: clamp(2rem, 1.143rem + 4.29vw, 5rem);
  font-weight: 500;
  line-height: 101.7%;

  max-width: 718px;
}
.info__wrapper-subtitle p {
  color: $colorSubtitle;
  font-size: clamp(0.875rem, 0.696rem + 0.89vw, 1.5rem);
  font-weight: 400;
  line-height: 140.7%;

  max-width: 560px;
  margin-bottom: clamp(1.875rem, 1.375rem + 2.5vw, 3.625rem);
}
.info__wrapper-button {
  button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $colorAccentBlue;
    border-radius: 20px;
    padding: clamp(0.813rem, 0.563rem + 1.25vw, 1.688rem) 56px;

    color: $colorWhite;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;

    transition: background-color 0.2s linear, transform 0.2s linear;
  }

  button:hover {
    background-color: $colorAccentBlueHover;
    transform: scale(1.1);
  }
}

.info__wrapper_circle {
  position: absolute;
  right: calc(-400 * 100% / 1440);
  top: calc(-377 * 100% / 1060);

  z-index: -3;
}

.info__wrapper_laptop {
  position: absolute;
  right: calc(-92 * 100% / 1440);
  top: calc(-54 * 100% / 1060);

  z-index: -1;
}

.info__wrapper_circles {
  position: absolute;
  right: calc(309 * 100% / 1440);
  top: calc(608 * 100% / 1060);

  z-index: -1;
}

@include mediaMobile {
  .info__wrapper_circles {
    display: none;
  }
}
