.process {
    margin-top: 198px;

    padding: clamp(4.375rem, 2.946rem + 7.14vw, 9.375rem) 0 clamp(4.375rem, 2.946rem + 7.14vw, 9.375rem);
    background-color: $colorProcessBG;

}

.process__row {
    display: flex;
    align-items: flex-start;
    row-gap: 28px;
    column-gap: 147px;
}

.wrapper_text_title {
    margin-bottom: clamp(1rem, 0.643rem + 1.79vw, 2.25rem);
}

.process__wrapper_circles {
    position: absolute;
    left: 0;
    top: 0;

    z-index: -1;
}

.wrapper__circles {
    position: relative;
}

.wrapper_arrow {
    position: absolute;
    left: calc(-195 * 100% / 1440);
    top: calc(498 * 100% / 1060);


    z-index: -1;
}

@include mediaMobile {
    .process__row {
        flex-direction: column;
        align-items: center ;
    }
}