body {
  font-family: $mainFont;
  // color: ;
  font-size: 16px;
  background: radial-gradient(
    114.37% 114.53% at 20.49% 12.79%,
    #fff 0%,
    rgba(228, 231, 233, 0.5) 100%
  );
}

a {
  transition: color 0.2s linear;

  &:hover {
    // color: $fff;
  }
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;

  &_section {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &_process {
    z-index: 0;
  }
}

.none {
  display: none !important;
}

.titleH1 {
  // font-size: clamp();
  // font-weight: ;
  // line-height: ;
}

.title2 {
  color: $colorTitle;
  font-size: 72px;
  font-weight: 500;
  line-height: 78px;
  letter-spacing: -0.5px;

  &_idea {
    max-width: 467px;
  }

  &_capabilities {
    margin-bottom: 34px;
  }

  &_process {
    color: $colorWhite;
  }
}

.title3 {
  color: $colorTitle;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.15px;
}

.title4 {
  color: $colorWhite;
  font-size: 26px;
  font-weight: 450;
  line-height: 140%;
  letter-spacing: -1.17px;
}

.title5 {
  color: $colorTitleCard;
  font-size: 72px;
  font-weight: 450;
  line-height: 78px;
  letter-spacing: -0.5px;

  &_capabilities {
    margin-bottom: 47px;
  }
}

.subtitleP {
  color: $colorSubtitle;
  font-size: 24px;
  font-weight: 400;
  line-height: 140.7%;

  &_grid_card {
    margin-bottom: 109px;
  }

  &_process {
    color: $colorWhite;
    opacity: 0.5;
    font-size: 18px;
    line-height: normal;
  }

  &__slider_process {
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 24px;
    color: $colorSubtitle2;
    max-width: 325px;
  }
}

.subtitle_accent {
  color: $colorAccentBlue;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

  margin-bottom: 28px;

  &_process {
    color: $colorWhite;
  }
}
