.html {
  overflow-x: hidden;
}

body {
  font-family: $mainFont;
  // color: ;
  font-size: 16px;
  background: radial-gradient(
    114.37% 114.53% at 20.49% 12.79%,
    #fff 0%,
    rgba(228, 231, 233, 0.5) 100%
  );
}

a {
  transition: color 0.2s linear;

  &:hover {
    // color: $fff;
  }
}

.hideScrollY {
  overflow-y: hidden;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;

  &_section {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &_process {
    z-index: 0;
  }
}

.none {
  display: none !important;
}

section {
  margin-top: clamp(4.375rem, 2.946rem + 7.14vw, 9.375rem) !important;
}

.titleH1 {
  // font-size: clamp();
  // font-weight: ;
  // line-height: ;
}

.title2 {
  color: $colorTitle;
  font-size: clamp(1.875rem, 1.125rem + 3.75vw, 4.5rem);
  font-weight: 500;
  line-height: clamp(2.188rem, 1.42rem + 3.84vw, 4.875rem);
  letter-spacing: -0.5px;

  margin-bottom: clamp(0.688rem, 0.027rem + 3.3vw, 3rem) !important;

  &_idea {
    max-width: 467px;
  }

  &_capabilities {
    margin-bottom: 34px;
  }

  &_process {
    color: $colorWhite;
  }
}

.title3 {
  color: $colorTitle;
  font-size: clamp(1.5rem, 1.286rem + 1.07vw, 2.25rem);
  font-weight: 500;
  line-height: clamp(1.563rem, 1.152rem + 2.05vw, 3rem);
  letter-spacing: -0.15px;
}

.title4 {
  color: $colorWhite;
  font-size: 26px;
  font-weight: 450;
  line-height: 140%;
  letter-spacing: -1.17px;
}

.title5 {
  color: $colorTitleCard;
  font-size: clamp(1.875rem, 1.125rem + 3.75vw, 4.5rem) !important;
  font-weight: 450;
  line-height: clamp(1.875rem, 1.018rem + 4.29vw, 4.875rem);
  letter-spacing: -0.5px;

  &_capabilities {
    margin-bottom: clamp(0.625rem, -0.036rem + 3.3vw, 2.938rem);
  }
}

.subtitleP {
  color: $colorSubtitle;
  font-size: clamp(0.875rem, 0.696rem + 0.89vw, 1.5rem);
  font-weight: 400;
  line-height: 140.7%;

  &_process {
    color: $colorWhite;
    opacity: 0.5;
    font-size: 18px;
    line-height: normal;
  }

  &__slider_process {
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 24px;
    color: $colorSubtitle2;
    max-width: 325px;
  }

  &_advance {
    color: $colorTitle;
    text-align: center;
    font-size: clamp(0.938rem, 0.777rem + 0.8vw, 1.5rem);
    font-weight: 400;
    line-height: 140.7%;
  }

  &_footer {
    color: var(--Gray-2, #4f4f4f);
    text-align: center;

    /* p1 */
    font-family: "Futura PT";
    font-size: clamp(0.625rem, 0.375rem + 1.25vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: 140.7%; /* 33.768px */
  }
}

.subtitle_accent {
  color: $colorAccentBlue;
  font-size: clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);
  font-weight: 500;
  line-height: 28px;

  margin-bottom: clamp(0.625rem, 0.304rem + 1.61vw, 1.75rem);

  &_process {
    color: $colorWhite;
  }

  &_advance {
    text-align: center;
  }
}

@include mediaMobile {
  .subtitleP {

    &__slider_process {
      text-wrap: balance;

      text-align: center;
    }
  }
}