/*FONTS*/

$mainFont: 'Futura PT';

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorSubtitle: #4f4f4f;
$colorTitle: #333;
$colorAccentOrange: #FF561D;
$colorAccentOrangeHover: #ff4000;
$colorAccentBlue: #4C40F7;
$colorAccentBlueHover: #2718ff;

$colorTitleCard: #292930;
$colorBorderCard: #E3E6E9;
$colorAccentCard: #5956E9;

$colorProcessBG: #27272E;
$colorSubtitle2: #939396;

$colorDashboardBGOne: #FFF3EB;
$colorDashboardBGTwo: #EDEDFF;


/*COLORS*/

/*MEDIA*/

$mobile: 992px

/*MEDIA*/